body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar{width:0.5rem}
::-webkit-scrollbar-track{background:#562459; border-radius: 50px;}
::-webkit-scrollbar-thumb{background:#A94399; border-radius: 50px;}


.p-15vh {padding-top: 7.5vh; padding-bottom: 7.5vh;}
.h-screen-90 {height: 85vh;}
.border-bg {background: #562459;}
.chat-bg {background: #D9ADD1;}
.received-message-bg {background: #A94399;}
.sent-message-bg {background: #D27AC4;}
.w-80 {width: 80%;}
.signout-btn {top:10px; right: 10px;}